[train] #train parameters
epoch = 16
batch_size = 64

reader_num = 1

optimizer = adam
learning_rate = 1e-3
weight_decay = 0
step_size = 1
lr_multiplier = 1


[eval] #eval parameters
batch_size = 64

reader_num = 1

[data] #data parameters
train_dataset_type = img
train_formatter_type = img
train_data_path = /data/disk1/private/xcj/BigDataClass/data/data_for_train/ver1/train.json

valid_dataset_type = img
valid_formatter_type = img
valid_data_path = /data/disk1/private/xcj/BigDataClass/data/data_for_train/ver1/test.json

label2id = /data/disk1/private/xcj/BigDataClass/data/data_for_train/ver1/label2id.json

[model] #model parameters
model_name = ImgCNN

[output] #output parameters
output_time = 1
test_time = 1

model_path = /data/disk1/private/xcj/BigDataClass/model
model_name = ImgCNN

tensorboard_path = /data/disk1/private/xcj/BigDataClass/tensorboard

output_function = acc

tqdm_ncols = 150
