[train] #train parameters
epoch = 20
batch_size = 128

reader_num = 20

optimizer = adam
learning_rate = 1e-3
weight_decay = 0
step_size = 1
lr_multiplier = 1

max_len = 10

[eval] #eval parameters
batch_size = 128

reader_num = 20

[data] #data parameters
train_dataset_type = NewsRec
train_formatter_type = NewsRec
data_path = /data/disk1/private/xcj/BigDataClass/data/NewsRec

valid_dataset_type = NewsRec
valid_formatter_type = NewsRec

test_dataset_type = NewsRecTest
test_formatter_type = NewsRecTest

label2id = /data/disk1/private/xcj/BigDataClass/data/NewsRec/labelinfo.json
item2id = /data/disk1/private/xcj/BigDataClass/data/NewsRec/item2id.json

[model] #model parameters
model_name = BERT4Rec

[output] #output parameters
output_time = 1
test_time = 1

model_path = /data/disk1/private/xcj/BigDataClass/model
model_name = BERT4Rec

tensorboard_path = /data/disk1/private/xcj/BigDataClass/tensorboard

output_function = acc

tqdm_ncols = 150
